body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2a3950;
    color: white;
    font-family: fantasy;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
